@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>This site is currently under construction and does not process any privacy-sensitive data. Check back for a privacy policy after the site has launched.</p>
