@{
    ViewData["Title"] = "Terms of Service";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>This site is currently under construction and does not offer any services. Check back for the terms of service after the site has launched.</p>
